.about { 
    min-height: 150px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 2em;
    position: relative;
    justify-content: center;
}

.about__image {
    background: var(--highlight-color);
    border-radius: 50%;
    overflow: hidden;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 5s;
    display: grid;
    place-items: center;
}

.about__image > img {
    width: 98%;
    height: 98%;
    border-radius: 50%;
}

.about__name {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0 1.2rem 0;
}

.about__list {
    list-style: disc;
    margin: 10px 0 10px 18px;
}

@media screen and (min-width: 0) {
    .about__image {
        height: 7rem;
        width: 7rem;
    }
}

@media screen and (min-width: 768px) {
    .about__image {
        height: 10rem;
        width: 10rem;
    }
}

@media screen and (min-width: 999px) {
    .about__image {
        height: 14rem;
        min-width: 14rem;
    }

    .about__image:hover {
        transform: rotateZ(360deg);
        cursor: cell;
    }

    .about {
        flex-direction: row-reverse;
    }
}