.footer {
    position: relative;
}

.contact {
    background: var(--footer-home);
    padding-top: 50px;
    padding-bottom: 30px ;
    position: relative;
    /* margin-top: 120px; */
    text-align: center;
}

.social-network {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer__wave {
    position: absolute;
    top: 1px;
    left: 0;
    transform: translateY(-100%);
    margin-bottom: -5px;
}

@media screen and (min-width: 0) {

    .social-network__icon {
        height: 40px;
    }
}

@media screen and (min-width: 768px) {
    
    .social-network__icon {
        height: 30px;
    }
}