.projects__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.home-bar {
    background: var(--highlight-color);
    margin: 10px 0;
    height: 3px;
}

.projects__list {
    display: grid;
    padding: 20px 0;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    overflow: auto;
    
}

.projects__list > li {
    border: 1px solid #fdfdfd;
    border-radius: 10px;
    width: calc(1920px / 7.5);
    overflow: hidden;
}

.project {
    background: black;
    height: calc(1080px / 7.5);
    position: relative;
    overflow: hidden;
}

.project-preview {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.project__description {
    background: var(--background-highlight-color);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__tecnologies {
    display: flex;
    gap: 5px;
    margin: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.project__tecnology > img {
    height: 20px;
}

@media screen and (min-width: 0) {

    .projects__list {
        max-width: calc(100vw - 30px);
    }
}

@media screen and (min-width: 768px) {

    .projects__list {
        max-width: calc(100vw - 60px);
    }
}

@media screen and (min-width: 999px) {
    .projects__list {
        max-width: calc(100vw - 140px);
    }
}


* {
scrollbar-width: thin;
scrollbar-color: var(--bar-color) transparent;
}

*::-webkit-scrollbar {
width: 7px;
height: 7px;
}

*::-webkit-scrollbar-track {
background: transparent;
}

*::-webkit-scrollbar-thumb {
background-color: var(--bar-color);
border-radius: 10px;
border: none;
}